/* Стиль для всего */
* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0; /*внешний отступ*/
    padding: 0; /*внутренний отступ */
}

.container {
    width: 100%;
    height: 100%; /*Занимает всю высоту родителя (header) */
    max-width: 1230px;
    margin: 0 auto; /*контейнер будет сам расширяться и сужаться*/

    /*Отступы слева и справа */
    padding-left: 15px;
    padding-right: 15px;
}

.page-wrapper {
    display: flex;
    flex-direction: column; /*выстраиваем дочернии элементы в колонку*/
    min-height: 100vh; /*минимальная высота - весь экран*/
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px; /*выстраивает разрыв между flex элементами*/
    outline: none; /*без обводки*/
}

.btn-primary {
    border-radius: 2px;
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
}

.btn-outline {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.00);
    color: #595959;

}

.logo {
    max-width: 100px;
}

header {
    display: flex;
    min-height: 124px;
    align-items: center;
}

.logo img {
    width: 100%;
}

.header-box {
    height: 100%;
    display: flex; /* поведение блоков уникально*/
    align-items: center; /* элементы находятся в центре */
    justify-content: space-between; /*элементы разделены между собой*/
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end; /*От конца идут влево*/
    gap: 10px;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgb(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%); /* заливка от серого до белого */
}

.footer {
    display: flex;
    min-height: 156px;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex; /* поведение блоков уникально*/
    align-items: center; /* элементы находятся в центре */
    justify-content: space-between; /*элементы разделены между собой*/
    gap: 36px;
    flex-wrap: wrap; /* перенос элементов при уменьшении ширины экрана*/
}

.footer-nav {
    flex-grow: 1; /*свойство контролирует насколько растянется элемент*/
}

.footer-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-nav ul li {
    color: #595959;
    font-size: 18px;
    font-weight: 400;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}


.banner {
    margin: 56px;
}

.banner-item {
    background-image: url("../images/banners/banner.jpg"); /* изображение на фоне*/
    background-repeat: no-repeat;
    background-size: cover; /* картинка растягивается */
    background-position: center right;
    padding: 68px;
    border-radius: 10px; /* округление*/
}

.banner-item--title {
    color: #302C34;
    font-size: 39px;
    font-weight: 700;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item--subtitle {
    color: #302C34;
    font-size: 24px;
    font-weight: 400;
    max-width: 50%;
    margin: 0;
}

.products {
    display: flex;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.products-header--title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.products-header--search {
    min-width: 306px;
    height: 34px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 5px 12px;

}

.products-header--search:focus {
    outline: none;
    border: 1px solid #D9D9D9;
}

/* псевдо-элемент*/
.products-header--search::placeholder {
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.products-wrapper {
    margin-top: 44px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.products-card {
    width: calc((100% - 48px) / 3);
    border-radius: 7px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    outline: hidden; /* обрезание по округлению */
}

.products-card__image {
    width: 100%;
}

.products-card__image img {
    width: 100%;
}
.products-card__description{
    padding: 20px 24px 34px 24px;
}

.products-card__description-row{
    display: flex;
    align-items: center; /*все элементы должны быть по центру*/
    justify-content: space-between;
}
/* при такой ширине меняются стили*/
@media (max-width: 991px) {
    .banner-item--title {
        max-width: 100%;
    }

    .banner-item--subtitle {
        max-width: 100%;
    }

    .products-card {
        width: calc((100% - 24px) / 2);
    }
}
.products-card__description--title{

    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}
.products-card__description--badge{
    color: #FFFFFF;
    border-radius: 2px;
    background: #262626;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 1px 8px;
}
@media (max-width: 576px) {

    .products-card {
        width: 100%;
    }
}